git+https://github.com/RedisVentures/redisvl.git@main
langchain
openai>=1.13.0
python-dotenv==0.21.0
streamlit==1.24.1
streamlit-chat
google-cloud-aiplatform>=1.26.
sentence-transformers==2.2.2
altair==4.0
pypdf
